/* Background of form  */ 
body {
    width: 100%;
    height: 100vh;
    background-color: #e1eae1;
    font-family: sans-serif;
    font-size: 16px;
}

/* Picture at the top */
.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

/* Header (Contact Information Form) */
h1 {
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 100px;   
}

/* The whole form  */
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

/* The contact information */
fieldset {
    border: none;
    padding: 2rem 0;
}

/* First box */
.box:first-of-type {
   margin-top: -2.5rem; 
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea, select {
    display: block;
    margin: 10px 0 0 0;
    width: 50%;
    min-height: 2em;
}

input, textarea {
    background-color: whitesmoke;
    border: none;
    border-bottom: 1px solid gray;
}

.box {
    background-color: whitesmoke;
    height: 100px;
    width: 500px;
    border-radius: 10px;
}

/* Submit button */
input[type="submit"] {
    display: block;
    width: 20%;
    
}

.extra {
    display: block;
    text-align: center;
}