/* Background of form  */ 
body {
    height: 100vh;
    background-color: #e1eae1;
    font-family: sans-serif;
    font-size: 16px;
}

/* Picture at the top */
.picture {
    /* FIXME: Center the picture */
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 100px;
}

h1 {
    /*margin: 0 auto;*/
    width: 25%; 
    margin-bottom: -30px;
    font-size: 30px;
}

/* Form Section */
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;

}

/* Spacing between questions */
label {
    padding-top: 20px;
    padding-left: 20px;
    display: block;
    margin: 0.5rem 0;
    width: 125%;
}

/* Textbox -> Bottom border, transparent color*/
input, textarea {
    display: block;
    margin: 10px 0 0 0;
    width: 50%;
    min-height: 2em;
    border: none;
    border-bottom: 1px solid gray;
    overflow: hidden;

}

.box {
    background-color: white;
    height: 100px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin: 0 auto;
}

/* Submit button */
input[type="submit"] {
    margin-right: auto;
    margin-top: -1.5rem;
    display: block;
    width: 17.5%;
    border: none;
    color: white;
    background-color: green;
    border-radius: 5px;
    height: 35px;
}

/* The bottom text (Things that are not related to the actual form) */
.extra {
    display: block;
    text-align: center;
}