body {
    width: 100%;
    height: 100vh;
    background-color: #e1eae1;
    font-family: sans-serif;
    font-size: 16px;
}


.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

h1 {
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 100px;   
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input[type="submit"] {
    display: block;
    width: 20%;
    
}

.extra {
    display: block;
    text-align: center;
}